h1{
    color: rgb(5, 34, 41);
}
img{
    width:288px;
}
body{
    background-color: rgb(227, 227, 236);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 0 19px;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer{
    color:rgb(5, 34, 41);
    border-top: 1px solid #ac8d8d;
    margin-top: 10px;
    padding: 5px 0;
}
header{
    margin-top: 10px;
    margin-bottom: 48px;
}
h1{
    font-size: 64px;
    margin-bottom: 10px;
}
header a{
    color: rgb(5, 34, 41);
    margin-right: 10px;
    text-decoration: none;
}
.main-content{
    flex-grow: 1;
}
.portrait{
    width: 250px;;
}
input{
    border: 1px solid rgb(5, 34, 41);
    padding : 8px;
}
button{
    cursor: pointer;
    border: 1px solid rgb(5, 34, 41);
    color:black;
    padding : 8px;
    
}